@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rochester&display=swap');

main {
  flex-grow: 1;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

main .main-contenido {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100vh;
}

main .icon-div {
	text-align: center;
	width: 100%;
}

main .icon-div i{
	font-size: 30px;
}

main .tabla {
    overflow-y: auto;
    height: 60vh;
}

main .texto-info {
	font-size: 24px;
}

main .texto-cantidad {
	text-align:left; 
}

main .texto-subtotal {
	text-align:right; 
}